@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --dark-grey:#383838;
  --blue:#4AC9DB;
  --corall:#FF8063;
  --white: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  font-family: 'Oswald',sans-serif;
  margin: 0;
  line-height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 400;
}

a {
  font-size: 24px;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}